<div class="navbar navbar-inverse subnav" data-top="60">
  <div class="navbar-inner">
    <%= link_to "Photo Gallery", admin_photos_path, class: "brand" %>
    <ul class="nav">
      <li><%= link_to "New Photo", new_admin_photo_url %></li>
    </ul>
  </div>
</div>